<h1>NEW GAME:</h1>

<h2><%= @letters %></h2>


<form action="/score" method="post" data-turbo="false">
<p>What's the longest world you can find?</p>
<input type="text" name="word" placeholder="longest world">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= hidden_field_tag :letters, @letters %>
<input type="submit">
</form>
